In [75]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.preprocessing import StandardScaler

In [77]:
df = pd.read_csv("../admin1/Downloads/plant_disease_dataset.csv")

In [79]:
df

      temperature   humidity   rainfall   soil_pH  disease_present
0       27.483571  33.215053   0.572758  4.975875                1
1       24.308678  36.945005  42.522346  8.165266                0
2       28.238443  34.026189  16.095303  6.316734                1
3       32.615149  41.104180  20.311015  6.164949                0
4       23.829233  51.971785  11.851323  8.482468                0
...           ...        ...        ...       ...              ...
9995    31.505510  81.939137  22.406822  5.862952                1
9996    15.008275  86.886833  10.503881  4.070539                0
9997    21.473416  81.891770  13.426869  7.101583                0
9998    27.478828  88.567649   9.719659  7.732620                0
9999    28.221942  71.900401   4.886391  4.383536                0

[10000 rows x 5 columns]

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   temperature      10000 non-null  float64
 1   humidity         10000 non-null  float64
 2   rainfall         10000 non-null  float64
 3   soil_pH          10000 non-null  float64
 4   disease_present  10000 non-null  int64
dtypes: float64(4), int64(1)
memory usage: 390.8 KB

In [83]:
df.isnull().sum()

temperature        0
humidity           0
rainfall           0
soil_pH            0
disease_present    0
dtype: int64

In [85]:
x = df.drop("disease_present", axis = 1)

In [87]:
x

      temperature   humidity   rainfall   soil_pH
0       27.483571  33.215053   0.572758  4.975875
1       24.308678  36.945005  42.522346  8.165266
2       28.238443  34.026189  16.095303  6.316734
3       32.615149  41.104180  20.311015  6.164949
4       23.829233  51.971785  11.851323  8.482468
...           ...        ...        ...       ...
9995    31.505510  81.939137  22.406822  5.862952
9996    15.008275  86.886833  10.503881  4.070539
9997    21.473416  81.891770  13.426869  7.101583
9998    27.478828  88.567649   9.719659  7.732620
9999    28.221942  71.900401   4.886391  4.383536

[10000 rows x 4 columns]

In [89]:
y = df["disease_present"]

In [91]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    1
9996    0
9997    0
9998    0
9999    0
Name: disease_present, Length: 10000, dtype: int64

In [64]:
x_train , x_test, y_train , y_test = train_test_split(x, y, train_size = 0.8)

In [66]:
lr = LogisticRegression()

In [68]:
lr.fit(x_train, y_train)

LogisticRegression()

In [70]:
y_pred = lr.predict(x_test)

In [73]:
print("Accuracy", accuracy_score(y_test, y_pred))
print("Classification Report", classification_report(y_test, y_pred))

Accuracy 0.7735
Classification Report               precision    recall  f1-score   support

           0       0.78      0.97      0.87      1529
           1       0.59      0.12      0.20       471

    accuracy                           0.77      2000
   macro avg       0.69      0.55      0.53      2000
weighted avg       0.74      0.77      0.71      2000